*{
    margin-top: 50px;
}

.cv{
    text-align: center;
}

.image-profile{
    width: 300px;
}

.datos{
    text-align: center;
    width: 100%;
    height: 20px;
    background-color: gray;
    color: aquamarine;
}

.skills{
    font-size: 20px;
}
.profile-description{
    font-size: 20px;
}