*{
    margin-top: 50px;
}

.cv{
    text-align: center;
}
img{
    width: 300px;
}

.datos{
    text-align: center;
    width: 100%;
    height: 20px;
    background-color: gray;
    color: aquamarine;
}